/* css reset */
* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}

/* style */
body {
  background: #eee;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.siteHeader {
  margin: 20px;
}
@media (min-width: 500px) {
  .siteHeader {
    margin: 60px 0 100px;
  }
}
.searchBar {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 500px) {
  .searchBar {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
.searchBar > input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 20px;
}
.searchBar > button {
  width: 80px;
  white-space: nowrap;
  font-size: 15px;
  padding: 0 25px;
  border: none;
  border-radius: 4px;
  background: #1495a7;
  color: white;
}
.siteList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 20px;
}
@media (min-width: 500px) {
  .siteList {
    margin-right: -25px;
    margin-left: 0;
    justify-content: flex-start;
  }
}
.siteList > li {
  margin-bottom: 10px;
}
@media (min-width: 500px) {
  .siteList > li {
    margin-right: 25px;
  }
}
.siteList .site {
  border: 1px #ddd;
  width: 160px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 20px 0;
  position: relative;
}
.siteList .site > .logo {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  text-transform: uppercase;
}
.siteList .site > .link {
  font-size: 14px;
  margin-top: 4px;
}
.siteList .addButton {
  display: flex;
  justify-content: center;
  width: 160px;
  font-size: 14px;
  margin-top: 4px;
}
.siteList .insert-icon .icon {
  height: 64px;
  width: 64px;
}
.icon-wrapper {
  border: 1px #ddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background: white;
}
.siteList .site .deleteButton {
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 100%;
}
.siteMain {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
